@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #1bc323; /* Màu xanh lá chủ đạo */
    --sidebar-bg: #fff;
    --main-bg: #f5f7fa;
    --right-sidebar-bg: #fff;
    --text-dark: #333;
    --text-light: #666;
    --class-purple: #e1bee7;
    --class-blue: #bbdefb;
    --class-green: #c8e6c9;
    --class-yellow: #fff9c4;
    --class-border: #c1c1c1;
    --class-text: #e9e9e9;
    --class-bg-calendar: #001c63;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: var(--text-light);
}
/* 
====================================================================
========== STYLE PHẦN NAV TRANG ADMIN HOME =========================
====================================================================
*/
ul {
    list-style: none;
}
.child-menu{
    display: none;
}
.main-menu:hover .child-menu{
    display: block;
}
/* 
====================================================================
========== STYLE PHẦN MENU 2 CẤP ===================================
====================================================================
*/
.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.main-menu > li {
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.child-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
}

.main-menu li:hover .child-menu {
    display: block;
}

.child-menu li a {
    text-decoration: none;
    display: block;
    padding: 8px 12px;
}
/* 
====================================================================
========== STYLE PHẦN XEM THÔNG TIN GIẢNH VIÊN THEO KHOA============
====================================================================
*/
.teacher-infor{
    width: 90%;
    border-radius: 20px;
    border: 1px solid var(--class-border);
    margin: 5%;
}
.teacher-infor-title{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}
.teacher-source-content{
    width: 90%;
    height: 500px;
    border: 1px solid var(--class-text);
    margin: 1% 5%;
}
.student-infor-title{
    display: flex;
    justify-content: space-between;
}
.student-infor-title form{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}