@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 90vw;
    height: 90vh;
    display: flex;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 80%;
    height: 80%;
}

.login-logo {
    margin-left: 27%;
}

.login-logo img {
    height: 100px;
}

.right {
    background-image: url(./imgs/image.png);
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 24px;
}

.login-content h1 {
    position: relative;
    margin: 0 0 18px 0;
    font-size: 2rem;
}

.login-content {
    width: 100%;
    padding: 25px 30px;
    color: rgb(40, 40, 102);
}

.login-content h1 {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 70%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 0 5px;
    background-color: #f5f8fa;
    box-shadow: 0 0 5px #b1b1b1;
}

.login-content a {
    color: rgb(61, 61, 214);
    text-decoration: none;
}

.input-forgot {
    text-align: right;
    width: 70%;
}
.signin{
    width: 70%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color:rgb(40, 40, 102) ;
    height: 40px;
    border-radius: 10px;
    color: #f5f8fa;
    font-size: 16px;
}
.login-content-form p{
    width: 70%;
    text-align: center;
}
