{% extends 'base.html' %}
{% load static %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'style/teacher_home.css' %}">
    <link rel="stylesheet" href="{% static 'style/general.css' %}">
    <link rel="stylesheet" href="{% static 'style/teacher_classes.css' %}">
{% endblock %}

{% block add_sidebar %}
    <a href="#" class="nav-item" id="send-ann-btn">
        <i class="fa-solid fa-share-from-square"></i>Gửi thông báo
    </a>

    <a href="{% url 'teacher_class_list' %}" class="nav-item" id="attendance-btn">
        <i class="fa-solid fa-user-check"></i>Điểm danh
    </a>

    <a href="{% url 'teacher_grade_dashboard' %}" class="nav-item active">
        <i class="fa-solid fa-pen-to-square"></i> Quản lý điểm
    </a>
    
    <div id="announcement-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h4>Gửi thông báo</h4>
            <form id="announcement-form" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="title">
                    <label>Mã Lớp:</label>
                    <input type="text" name="classId" required>
                </div>
                <div class="title">
                    <label>Tiêu đề:</label>
                    <input type="text" name="title" required>
                </div>
                <div class="content">
                    <label>Nội dung:</label>
                    <textarea name="content" required></textarea>
                </div>
                <button type="submit" class="signin">Gửi</button>
            </form>
            <p id="msg" style="color: green;"></p>
        </div>
    </div>
{% endblock add_sidebar %}

{% block user_info %}
    <div class="get-username" data-role="{{ user_role }}">
        Xin chào, {{ username }}<br> 
        <span style="font-size: 16px;">Giảng Viên</span>
    </div>
{% endblock user_info %}

{% block title %}Danh sách lớp phụ trách{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/teacher_classes.css' %}">

<div class="container1"> 
    <h2>Danh sách lớp phụ trách</h2>
    <p>Chọn lớp để tiến hành nhập điểm:</p>
    
    <div class="classes-grid">
        {% for lop in classes %}
        <div class="class-card">
            <h3>{{ lop.classId }}</h3>
            <p><strong>Môn:</strong> {{ lop.courseId.courseName }}</p>
            <p><strong>Học kỳ:</strong> {{ lop.semester }}</p>
            
            <a href="{% url 'teacher_input_grades' lop.classId %}" class="btn-enter-grades">
               <i class="fa-solid fa-pen-to-square"></i> Vào nhập điểm
            </a>
        </div>
        {% empty %}
            <p>Hiện tại bạn chưa phụ trách lớp nào.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'style/teacher_home_api.js'%}"></script>
{% endblock scripts %}