/* 
======================================================================
============== STYLE CHO PHẦN XEM CHI TIẾT MÔN HỌC ===================
======================================================================
*/
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#popup-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    min-width: 400px;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    position: relative;
}

#popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

#popup-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#popup-content td {
    padding: 8px;
    vertical-align: top;
}


/* Loại bỏ border-right cho item cuối cùng trong day-selector */
.day-selector .day-item:last-child {
    border-right: none;
}


