{% extends 'base.html' %}
{% load static %}

{% block title %}Trang Quản trị{% endblock title %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'style/admin.css' %}">
    <link rel="stylesheet" href="{% static 'style/general.css' %}">
{% endblock %}

{% block timetable_active %}active{% endblock %}

{% block role_specific_links %}
    <li style="list-style: none; position: relative; left: -15px">
        <a href="#" class="nav-item"><i class="fa-solid fa-people-group"></i>Thông tin</a>

        <ul class="child-menu">
            <li>
                <a href="{% url 'admin_teacher_infor' %}" class="nav-item">Thông tin giảng viên</a>
            </li>
            <li><a href="{% url 'admin_student_infor' %}" class="nav-item">Thông tin sinh viên</a></li>
        </ul>
    </li>

    <li style="list-style: none; position: relative; left: -15px">
        <a href="{% url 'event_management' %}" class="nav-item"><i class="fas fa-calendar-check"></i> Quản lý Sự kiện</a>
    </li>             
    <li style="list-style: none; position: relative; left: -15px">
        <a href="{% url 'user_list' %}" class="nav-item"><i class="fas fa-users-cog"></i> Quản lý Người dùng</a>
    </li>             
    <li style="list-style: none; position: relative; left: -15px">
        <a href="{% url 'course_list' %}" class="nav-item"><i class="fas fa-book-open"></i> Quản lý Học vụ</a>    
    </li>    
    <li style="list-style: none; position: relative; left: -15px">
        <a href="{% url 'room_list' %}" class="nav-item"><i class="fas fa-calendar-alt"></i> Quản lý Xếp lịch</a>    
    </li> 
{% endblock role_specific_links %}

{% block user_info %}
    <div class="get-username" data-student="{{studentId}}" data-role="{{ user_role }}">
        Xin chào, {{ username }}<br> 
        <span style="font-size: 16px;">Admin</span>
    </div>
{% endblock user_info %}

{% block content %}
    <div class="classes-list">
        <h4>Thời khóa biểu</h4>
        <section class="week-view">
            <ul class="week-days"></ul>
            <div id="weather-container"></div>
        </section>

        <div class="student-infor">
            <div class="student-infor-title">
                <h3>Thông tin giảng viên theo khoa</h3>
                <form action="" id="search-department-form">
                    <input type="text" id="department-input" placeholder="Nhập tên khoa" required>
                    <button type="submit">Xem</button>
                </form>
            </div>              
            <div class="teacher-course-content"></div>
        </div>     
    </div>

    <div class="child-main-content-right">
        <div class="calendar-widget">
            <div class="calendar">
                <h1>Calendar</h1>
                <header>
                    <h3></h3>
                    <nav>
                        <button id="prev"></button>
                        <button id="next"></button>
                    </nav>
                </header>
                <section>
                    <ul class="days">
                        <li>Sun</li>
                        <li>Mon</li>
                        <li>Tue</li>
                        <li>Wed</li>
                        <li>Thu</li>
                        <li>Fri</li>
                        <li>Sat</li>
                    </ul>
                    <ul class="dates"></ul>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'style/admin_api.js' %}"></script>
    <script src="{% static 'style/general.js' %}"></script>
    <script src="{% static 'style/calendar.js' %}"></script>
{% endblock scripts %}

