{% extends 'base.html' %}
{% load static %}

{% block title %}Trang Quản trị{% endblock title %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'style/admin.css' %}">
    <link rel="stylesheet" href="{% static 'style/general.css' %}">
{% endblock %}

{% block timetable_active %}active{% endblock %}

{% block role_specific_links %}
    <li style="list-style: none; position: relative; left: -15px">
        <a href="#" class="nav-item"><i class="fa-solid fa-people-group"></i>Thông tin</a>
        <ul class="child-menu">
            <li><a href="{% url 'admin_teacher_infor' %}" class="nav-item">Thông tin giảng viên</a></li>
            <li><a href="{% url 'admin_student_infor' %}" class="nav-item">Thông tin sinh viên</a></li>
        </ul>
    </li>
    <li style="list-style: none; position: relative; left: -15px">
        <a href="{% url 'event_management' %}" class="nav-item"><i class="fas fa-calendar-check"></i> Quản lý Sự kiện</a>
    </li>             
    <li style="list-style: none; position: relative; left: -15px">
        <a href="{% url 'user_list' %}" class="nav-item"><i class="fas fa-users-cog"></i> Quản lý Người dùng</a>
    </li>             
    <li style="list-style: none; position: relative; left: -15px">
        <a href="{% url 'course_list' %}" class="nav-item"><i class="fas fa-book-open"></i> Quản lý Học vụ</a>    
    </li>    
    <li style="list-style: none; position: relative; left: -15px">
        <a href="{% url 'room_list' %}" class="nav-item"><i class="fas fa-calendar-alt"></i> Quản lý Xếp lịch</a>    
    </li> 
{% endblock role_specific_links %}

{% block user_info %}
    <div class="get-username" data-student="{{studentId}}" data-role="{{ user_role }}">
        Xin chào, {{ username }}<br> 
        <span style="font-size: 16px;">Admin</span>
    </div>
{% endblock user_info %}

{% block content %}
    <div class="classes-list">
        <h4>Thời khóa biểu</h4>
        <section class="week-view">
            <ul class="week-days"></ul>
            <div id="weather-container"></div>
        </section>

        <div class="admin-event-panel">
            <h3>Gửi thông báo sự kiện</h3>
            <form id="event-form">
                {% csrf_token %}
                <input type="text" id="event-title" placeholder="Tên sự kiện" required>
                <input type="datetime-local" id="event-time" required>
                <select id="event-receiver">
                    <option value="ALL">Tất cả</option>
                    <option value="STUDENT">Sinh viên</option>
                    <option value="TEACHER">Giảng viên</option>
                </select>
                <button type="submit">Gửi thông báo</button>
            </form>
        </div>
    </div>

    {% endblock content %}


{% block scripts %}
    <script src="{% static 'style/admin_api.js' %}"></script>
    {% endblock scripts %}