<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="../static/style/login.css">
    </head>

    <body>
        <div class="big-container">

            <div class="big-container-title">
                <h1>Thời khóa biểu trực tuyến</h1>
            </div>

            <div class="container">
            <div class="left">
                <h1 class="left-title">Welcome To HaUI</h1>
                <div class="login">                      
                    <form class="login-content-form" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <label>Mã Sinh Viên</label>
                            <input type="text" placeholder="2023600455" name='username' required>
                        </div>
                        <div class="input-group">
                            <label>Mật khẩu</label>
                            <input type="password" placeholder="at least 8 characters" name='password' required>
                        </div>
                        <div class="input-forgot">
                            <a href="">Fogot Password?</a>
                        </div>
                        <button type="submit" class="signin">Sign in</button>
                        <p>Don't you have an account?<a href=""> Next page</a></p>

                        <!-- Vùng hiển thị thông báo -->
                        <div id="messageContainer">
                            {% if messages %}
                                {% for message in messages %}
                                <p class="warning-message">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>

            <div class="right">
                <img src="../static/image/logo_haui.jpg" alt="">
            </div>
        </div>
    </div>
        
    </body>
</html>