{% extends 'base.html' %}
{% load static %}

{% block title %}Thời khóa biểu Sinh viên{% endblock title %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'style/student_home.css' %}">
    <link rel="stylesheet" href="{% static 'style/general.css' %}">
{% endblock %}

{% block timetable_active %}active{% endblock %}

{% block add_sidebar %}
    <a href="{% url 'student_my_grades' %}" class="nav-item">
        <i class="fa-solid fa-graduation-cap"></i> Xem bảng điểm
    </a>
{% endblock add_sidebar %}

{% block user_info %}
    <div class="get-username" data-student="{{studentId}}" data-role="{{ user_role }}">
        Xin chào, {{ username }}<br> 
        <span style="font-size: 16px;">Sinh viên</span>
    </div>
{% endblock user_info %}

{% block content %}  
    <div class="classes-list">
        <h4>Thời khóa biểu</h4>
        <section class="week-view">
            <ul class="week-days"></ul>
            <div id="weather-container"></div>
        </section>
        <div id="timetable-container"></div>
    </div>

    {% endblock content %}

{% block scripts %}
    <script src="{% static 'style/student_home_api.js' %}"></script>
    <script src="{% static 'style/general_student.js' %}"></script>
{% endblock scripts %}