{% extends 'base.html' %}
{% load static %}

{% block title %}Thời khóa biểu Giảng viên{% endblock title %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'style/teacher_home.css' %}">
    <link rel="stylesheet" href="{% static 'style/general.css' %}">
{% endblock %}

{% block timetable_active %}active{% endblock %}

{% block add_sidebar %}
    <a href="#" class="nav-item" id="send-ann-btn">
        <i class="fa-solid fa-share-from-square"></i>Gửi thông báo
    </a>

    <a href="{% url 'teacher_class_list' %}" class="nav-item" id="attendance-btn">
        <i class="fa-solid fa-user-check"></i>Điểm danh
    </a>

    <a href="{% url 'teacher_grade_dashboard' %}" class="nav-item">
        <i class="fa-solid fa-pen-to-square"></i> Quản lý điểm
    </a>
    
    <div id="announcement-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h4>Gửi thông báo</h4>
            <form id="announcement-form" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="title">
                    <label>Mã Lớp:</label>
                    <input type="text" name="classId" required>
                </div>
                <div class="title">
                    <label>Tiêu đề:</label>
                    <input type="text" name="title" required>
                </div>
                <div class="content">
                    <label>Nội dung:</label>
                    <textarea name="content" required></textarea>
                </div>
                <button type="submit" class="signin">Gửi</button>
            </form>
            <p id="msg" style="color: green;"></p>
        </div>
    </div>
{% endblock add_sidebar %}


{% block role_specific_links %}
{% endblock role_specific_links %}

{% block user_info %}
    <div class="get-username" data-role="{{ user_role }}">
        Xin chào, {{ username }}<br> 
        <span style="font-size: 16px;">Giảng Viên</span>
    </div>
{% endblock user_info %}

{% block content %}
    <div class="classes-list">
        <h4>Thời khóa biểu</h4>

        <section class="week-view">               
            <ul class="week-days"></ul>
            <div id="weather-container"></div>
        </section>

        <div>
            <button id="export-btn">📄 Xuất PDF</button>
            <div id="timetable-container"></div>
        </div>   
    </div>

    {% endblock content %}

{% block scripts %}
    <script src="{% static 'style/teacher_home_api.js'%}"></script>
    {% endblock scripts %}